.nonSchema {
  background-color: #feffda;
}

.answerable a::before,
.nonAnswerable a::before,
.weight {
  display: inline-block;
  width: 4em;
  vertical-align: middle;
  color: white;
  border-radius: 5px;
  margin-right: 5px;
  font-size: 10px;
  padding: 0 5px;
  line-height: 14px;
  font-family: monospace;
  text-align: center;
}

.answerable a::before {
  content: 'lab';
  background-color: rgba(51, 122, 183, 0.5);
}

.nonAnswerable a::before {
  content: 'info';
  background-color: rgba(0, 0, 0, 0.5);
}

.weight {
  width: auto;
  background-color: rgba(51, 122, 183, 0.5);
}
